*
{
    margin: 0;
    padding:0;
}
body{
    background-color: rgb(231, 231, 231);
}
/* topnavbar */
.topnavbar{
    display: flex;
    flex-direction: row;
    background-color: white;
}
.logoicon{
    background-color: black;
    padding: 8px 10px;
    width: 5vh;
    border-bottom: 1px solid gray;
}
.logoicon img{
    width: 40px;
    height: 35px;
    align-items: center;
}
.searchorg{
    display: flex;
    flex-direction: row;
    padding-left: 15px;
   width: 15vw;
   align-items: center;
   border: 1px solid #E8E8E8;
}
.searchusericon{
    width: 20px;
    height:20px;
    
}
.input
{
    border: none;
    font-size: 12px;
    width: 350px;

}
.input:focus
{
    outline: none;
}
.input1
{
    border: none;
    font-size: 12px;
}
.input1:focus
{
    outline: none;
}
.searchuser-text{
    font-size: 10px;
    color: black;
    opacity: 30%;
    font-family: poppins;
    padding: 10px;
}
.searchreq{
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    align-items: center;
    width: 55vw;
   
}
.secondsearch
{
    display: flex;
     flex-direction: row;
}
.notificationsicon{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}
.notificationsicon .bellicon{
    width: 20px;
    height: 20px;
    margin: 10px;

}
.belltext{
    font-size: 12px;
    color: black;
    font-family: poppins;
    opacity: 50%;
}
.notificationsicon .usericon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 25px;
}
.usertext{
    font-size: 12px;
    color: black;
    font-family: poppins;
    padding: 10px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
  }
/* leftsidenav */
.leftsideNavbar{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 11vh;
    height: 90vh ;
    align-self: center;
}
.navitem{
margin-top: 20px;

}
.navitem .text{
    color: white;
    font-size: 9px;
    font-family: poppins;
    opacity: 60%;
    text-align: center;
}
.navitem .img{
    width: 8px;
    height: 8px;
}
.homeicon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}
.navitemicons{
    text-align:center ;
}
.selectednav{
    background-color:#303030;
    padding: 10px;
}
.leftsidenav
{
    display: flex;
    flex-direction: row;
}
.textactive
{
    padding-left: 3%;
    color: black;
    font-size: 15px;
    font-style: poppins;   
}
/* topsecondnav */
.topsecondnav{
    display: flex;
    flex-direction: column;
}
 .topnavs{
    width: 94.5vw;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.topNavitems{
    color: black;
    font-size: 12px;
    font-weight: 300;
    font-family: poppins;
    margin-right: 20px;
    opacity: 60%;
    padding: 10px;
}
.selected{
    color: black;
    font-size: 12px;
    font-weight: 300;
    font-family: poppins;
    margin-right: 20px;
    padding:10px 10px 0px 10px;
    text-align: center;
}
.underline{
    border-bottom: 2px solid rgb(35, 98, 216);
    width: 8%;
}
/* middleelements */
.modules {
    justify-content: space-between 6px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    
 }
.middleelements
{
    display: flex;
    flex-direction: row;
}

/* leftpart */
.box
{
    padding:1%;
}

.headingtop
{
   
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 10px;
    width: 200px;
    height: 20px;
    padding: 0%;
    margin: 0%;
    border: 1px solid rgb(200, 200, 200);
    border-bottom: none;
    /* background-color: lightgrey; */
    padding:15px 0 0 20px;
    font-weight: 500px;
}
.button1{
display: flex;
flex-direction: column;
font-size: 10px;
line-height: 10px;
width: 200px;
height: 40px;
padding: 0%;
margin: 0%;
border: 1px solid rgb(200, 200, 200);
background-color: rgb(200, 227, 238);
border-bottom: None;
padding:15px 0 0 20px;
font-weight: 500px;

}
.buttons {
display: flex;
flex-direction: column;
font-size: 8px;
width: 200px;
height: 50px;
padding:15px 0 0 20px;
border: 1px solid rgb(200, 200, 200);
border-bottom: None;
background-color: white;

}
.endbuttons {
    display: flex;
    flex-direction: column;
    font-size: 8px;
    width: 200px;
    height: 50px;
    padding:15px 0 0 20px;
    border: 1px solid rgb(200, 200, 200);
    background-color: white;
    }
.buttontext
{
font-weight: 500;
}
.foldernum{
font-size: 12px;
font-weight: 500;
}

/* rightpart */
.rightcard{
    box-sizing: border-box;
    border: 1px solid white;
    background-color: white;
    width:100%;
    padding:1%;
}

.heading
{
    font-weight: 500;
   
    color: rgb(51, 51, 51);
}

.subtext
{
    color: rgb(179, 179, 179);
    line-height: 1pt;
}
.test:after {
    content: '\2807';
    font-size: 25px;
    float: right;
    color: rgb(179, 179, 179);
    cursor: pointer;
}
.cards
{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    padding-top: 2%;
}
.card
{

    box-sizing: border-box;
    margin: 0.5rem .1em;
    border: 1px solid rgb(200, 200, 200);
    width:328px;
    margin-left: 5px;
}
.insidecontent
{
    padding:4px;
    padding-top: 0%;
}
.text
{
font-size: 13px;
color:rgb(179, 179, 179);
clear: left;
padding-top: 5%;
padding-left: 3%;
font-family: poppins;
}
.heading1
{
    
    line-height: 2pt;
    font-weight: 500;
    float: left;
    padding-top: 5%;
    padding-left: 3%;
    color: rgb(51, 51, 51);
}

.addcard
{
    text-align: center;
    box-sizing: border-box;
    margin: 0.5rem .1em;
    border: 1px dashed rgb(0, 119, 255);
    width:328px;
    padding-top: 1%;
    padding-bottom: 2%;
    margin-left: 5px;
}

.addnew
{
    color: rgb(0, 119, 255);
    line-height: 1pt;
    cursor: pointer;
}
.addnewimg
{
    cursor: pointer;
}
.right{
    width:100%;
    padding-top: 1%;
    padding-right:1%;
}


@media only screen and  (min-device-width:1024px) and (max-device-width:1440px)  
{
    .logoicon{
        padding: 8px 13px;
    width: 5vh;
    }
    .leftsideNavbar{
        height:90.2vh;
    }
}
@media only screen and  (min-device-width:1441px) and (max-device-width:1920px)  
{
    .card
{

    width:380px;
}
.addcard{
    width:380px;
}
.underline{
    border-bottom: 2px solid rgb(35, 98, 216);
    width: 7%;
}
.leftsideNavbar{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 11vh;
    height: 91.7vh ;
}
.topnavs{
    width: 95.2vw;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(143, 143, 143);
}
}
